.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 {
    font-family: "Petit Formal Script", cursive, sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    letter-spacing: -1px;
    margin-bottom: -10px;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    text-decoration : none;
}

nav {
    text-align: center;
    margin-bottom: 20px;
}
nav a {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

nav :visited {
    color: #ffffff;
    text-decoration: none;
}

nav :hover {
    color: rgb(170, 170, 170);
    text-decoration: none;
}

body {
    background-color: rgb(0, 0, 0);
    /*background-image: url("https://images.unsplash.com/photo-1752070935393-9d5bd46d94a1?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1007");
    background-size: cover;*/
    
}

p, div{
    color: #fff;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

section {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    color: #fff;
}

summary{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #fff;
    list-style-position: outside;
    margin-left: 30px;
    padding: 10px 10px 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    list-style-type: '↠';
}

details {
    margin-left: 20px;
    padding: 10px;
}

details :hover{
    color: rgba(255, 255, 255, 0.548);
}

strong {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

