.petit-formal-script-regular {
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}

h1 {
    font-family: "Petit Formal Script", cursive, sans-serif;
    color: #ffffff;
    text-align: center;
    font-size: 50px;
    letter-spacing: -1px;
    margin-bottom: -10px;
}

h2 {
    font-family: 'Lato', sans-serif;
    color: #ffffff;
    text-align: left;
    font-size: 30px;
    margin-left: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

nav {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
    text-decoration: none;
}

nav :visited {
    color: #ffffff;
    text-decoration: none;
}

nav :hover {
    color: rgb(170, 170, 170);
}

body {
    background-color: #000;
}

p, div{
    color: #fff;
    margin-left: 10px;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

section {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-align: left;
    margin-left: 20px;
    color: #fff;
}

summary{
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    text-align: left;
    color: #fff;
}

details {
    margin-left: 20px;
    padding: 10px;
}

details :hover{
    color: rgb(170, 170, 170);
}

strong {
    font-weight: bold;
    color: #fff;
    text-decoration: underline;
}

footer p {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

