h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: "Petit Formal Script", cursive, sans-serif;
    color: #ffffff;
    padding: 0.5em 1.5em;
    border-radius: 8px;
    text-shadow: 0 2px 8px rgba(174, 126, 126, 0.15);
}

.center-wrapper {

    display : flex; 
    flex-direction : column;
    align-items : center; 
    justify-content: center;
    min-height : 80vh; 
    min-width : 1000px; 
    position : relative;

}


.menu {
    position : absolute;
    top : 5px;
    left : 20px;
    margin : 20px;
    font-family : Arial, sans-serif;
    font-size : 25px;
    color : #ffffff;
}

body {
    background-color: #000000;
    background-image: url('car2.jpg');
    background-size: 1000px 500px;
    background-position: top ;   
    background-repeat: no-repeat;
}

.centered 
{
    text-align : center;
    font-family : Arial, sans-serif;
    color : #ffffff;
    background: rgba(0, 0, 0, 0.6);
    padding: 0.5em 1.5em;
    border-radius: 8px;
    text-shadow: 0 2px 8px rgba(103, 92, 92, 0.15);
    margin : 0 auto;
    width : 40%;
}


.image-credit 
{
    position : fixed;
    bottom: 5px;
    right: 10px;
    font-size : 10px;
    color : #fff;
    background: rgba(0,0,0,0.15);
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 10;
}

