h1 {
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-family: Arial, sans-serif;
    color: #860404;
    background: rgba(255,255,255,0.7);
    padding: 0.5em 1.5em;
    border-radius: 8px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.center-wrapper {

    display : flex; 
    flex-direction : column;
    align-items : center; 
    justify-content: center;
    min-height : 80vh; 
    min-width : 1000px; 
    position : relative;

}

.center-wrapper {

    text-align : center;
    margin-top : -40px;
    margin-bottom : 40px;
    font-family : Arial, sans-serif;
    color : #090c01;
}

.menu {
    position : absolute;
    top : 20px;
    left : 20px;
    margin : 20px;
    font-family : Arial, sans-serif;
    font-size : 25px;
    color : #000103;
    background: rgba(255,255,255,0.7);
}

body {
    background-image : url('car2.jpg');
    background-size : cover;
    background-position : center;
    background-repeat : no-repeat;
}

.centered 
{
    text-align : center;
    font-family : Arial, sans-serif;
    color : #6e4904;
    background: rgba(255,255,255,0.7);
    padding: 0.5em 1.5em;
    border-radius: 8px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.15);
    margin : 0 auto;
    width : 40%;
}

.search-bar 
{
    width : 50%;
    padding : 1em;
    font-size : 1.2em;
    border-radius : 8px;
    border : 1px solid #ccc;
    box-sizing : border-box;
}

.image-credit 
{
    position : fixed;
    bottom: 5px;
    right: 10px;
    font-size : 10px;
    color : #fff;
    background: rgba(0,0,0,0.15);
    padding: 2px 5px;
    border-radius: 5px;
    z-index: 10;
}

